#contact_modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 39, 39, 0.466);
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  -ms-flex-align: center;
  margin: auto;
  justify-content: center;
  order: 2;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #db8876;
  color: black;
}

.button-submit {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35px;
}

.info-photograph {
  margin: auto;
  margin-left: 0;
  -ms-flex-align: start;
  justify-content: flex-start;
  order: 1;
}

.picture-photograph {
  border-radius: 100%;
  justify-content: flex-end;
  order: 3;
  margin: auto;
  margin-right: 0;
}

.picture-photograph img {
  border-radius: 100%;
}

#main {
  justify-content: center;
  align-items: center;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 131px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 70px;
  margin-right: 100px;
  margin-left: 100px;
}

.photo-container {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: #c4c4c4;
  margin-top: -40px;
  max-width: 400px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 669px;
  height: 900px;
  padding: 10px;
}

#light-box-modal {
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.title-name-contact,
.formData {
  padding-left: 35px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h1 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 35px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  width: 599px;
}

textarea {
  height: 170px;
}

.box-img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

.photographer-name {
  font-size: 54px;
  color: #d3573c;
  font-weight: lighter;
}

.info-photograph .location {
  font-size: 24px;
}

.info-photograph .tagline {
  font-size: 18px;
}

.photo-container h3 {
  color: #d3573c;
  margin-left: 0;
  font-size: 20px;
  font-weight: lighter;
}

.likes {
  margin-right: 0;
  margin-top: 0;
  color: #901c1c;
}

.fa-heart {
  color: #901c1c;
  margin-left: 5px;
}

.info-photo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  height: 24px;
  color: #d3573c;
}

.like-photo {
  justify-content: flex-end;
  color: #d3573c;
}

.title-photo {
  justify-content: flex-start;
}

.title-name-contact {
  padding: 10px;
  text-align: left;
}

#select-filter {
  background-color: #901c1c;
  color: white;
  padding: 0px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 10px 20px;
}

.filtre {
  padding-top: 20px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  font-size: 25px;
  align-items: center;
  margin: 0 100px;
}

@media (max-width: 1024px) {
  .photograph-header {
    margin: auto;
  }
  .photo-gallery {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 767px) {
  header {
    height: 0;
  }

  .box-img {
    max-width: 100%;
  }

  .photograph-header {
    flex-direction: column;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .contact_button,
  .contact_button:hover,
  .contact_button:focus {
    align-self: center;
    margin: 30px;
    position: relative;
  }

  .photographer-name {
    font-size: 36px;
  }

  .photographer-name,
  .info-photograph .location,
  .info-photograph .tagline {
    text-align: center;
  }

  .info-photograph {
    margin: auto;
    order: 1;
    margin-top: 30px;
  }

  .picture-photograph {
    border-radius: 100%;
    justify-content: flex-end;
    order: 3;
    margin: auto;
    margin-right: auto;
  }

  .picture-photograph img {
    border-radius: 100%;
  }

  .filtre {
    margin: 0 auto;
  }

  .photo-gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 10px;
    margin-left: 10px;
  }
}

.section-total-price {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: #db8876;
  color: black;
  padding: 20px 30px;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.section-total-price .fa-heart {
  color: black;
}

.bg-modal-lightbox {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(219, 219, 219, 0.7);
}

.photo-container-lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0.6rem;
  background-color: white;
  overflow: hidden;
}

.img-big-format {
  margin: auto;
  height: 85%;
  width: 70%;
  position: absolute;
  border-radius: 0.6rem;
  background-color: #868686;
  object-fit: cover;
}

.commandes-lightbox {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.section-inner-lightbox {
  color: #901c1c;
  width: 100%;
  height: 100%;
  position: relative;
}

.arrow-left,
.arrow-right {
  font-size: 3rem;
  position: relative;
  color: #901c1c;
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-left {
  top: 40%;
  left: 10%;
}

.close-lightbox {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  top: 7%;
  right: 9%;
  font-size: x-large;
  cursor: pointer;
  color: #901c1c;
  font-size: 3rem;
}

.arrow-right {
  top: 40%;
  right: 7%;
}

.title-lightbox {
  /* position: absolute;
  bottom: 2%;
  width: 80%;
  height: auto;
  position: absolute; */

  position: absolute;
  margin-right: 10%;
  bottom: 2%;
  left: 15%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
}
